.landing-heading{
	color: rgba(255, 255, 255, 0.6);
	font-family: "raleway-heavy", sans-serif;
	font-size: 1.8rem;
	line-height: 1.667;
	margin-bottom: 0.6rem;
	text-transform: uppercase;
	letter-spacing: .25rem;
}

.intro-content {
	color: #FFFFFF;
	line-height: 1.334;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

/*.video-link {
	isplay: inline-block;
	width: 90px;
	height: 90px;
	margin-bottom: 4.2rem;
	outline: none;
	}*/

	.video-link {
		max-width: 100%;
		width: 90px;
		height: 90px;
		/*width: 5.5%;*/
	}

	.cmb-3{
		margin-bottom: 3%;
	}

	.signup-lable{
		cursor: auto;
		background-color: rgba(255,255,255,0.5);
		border-color: transparent;

	}

.help-block{
	color:#d66131;
}

@media (min-width: 768px) and (max-width: 900px) { 
	.signup-lable{
		margin-left: -15%;
	}

	.jumbotron .btn{
		padding:1.2rem 1rem;
	}
 }



@media (min-width: 320px) and (max-width: 338px) { 
	.signup-lable{
		margin-left: -8%;
	}
 }







	/***** MODAL PROPERTIES *****/
	.modal-content {
		-webkit-box-shadow: none;
		box-shadow: none;
		background:transparent;
		border:none;
		outline:none;
	}
	.modal-content iframe {
		border:none;
		padding:0;
		margin:0;
	}
	.close {
		display: none;
		font-size: 80px;
		margin:-20px 0 0 0;
	}
	/***** MEDIA QUERIES *****/
	@media only screen and (max-width: 641px) {
		/***** MODAL PROPERTIES *****/
		.modal-body {
			height:100px;
			padding:0;
			margin: 0;
		}
		.modal-content {
			padding:0;
			margin: 0;
		}
		.modal-dialog {
			position: relative;
			width: auto;
			margin: 15px;
		}
		.close {
			margin:-12px 0 0 0;
		}
	}


	@media only screen and (min-width: 768px) {
		/***** MODAL PROPERTIES *****/
		.close {
			font-size: 30px;
			color: white;
			margin:30px -43px -20px 100px;
		}
	}

    .has-icon-left {
    	z-index: 3;
    }

    .social-share {
    	margin-bottom: 0rem;
    }




























	
	